[Unit]
Description=Raro Tracker - web app
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/rarotracker
EnvironmentFile=/opt/rarotracker/.env
ExecStart=/opt/rarotracker/venv/bin/gunicorn -w 2 -b 0.0.0.0:5050 app:app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
