[Unit]
Description=Raro Tracker - web app
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rarotracker
EnvironmentFile=/opt/rarotracker/.env
ExecStart=/opt/rarotracker/venv/bin/gunicorn -w 2 -b 127.0.0.1:5050 app:app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
